version: "3.8"

services:
  # ============ GitHub Actions Runner ============
#  github-runner:
#    image: myoung34/github-runner:latest
#    container_name: github-runner
#    restart: unless-stopped
#    environment:
#      REPO_URL: $RUNNER_REPO_URL
#      REGISTRATION_TOKEN: $RUNNER_TOKEN
#      RUNNER_NAME: vps-runner-prod
#      RUNNER_WORKDIR: /tmp/runner-work
#      RUNNER_GROUP: default
#      LABELS: linux,prod,docker
#      RUNNER_SCOPE: repo
#    volumes:
#      - /var/run/docker.sock:/var/run/docker.sock
#      - ./projects:/home/deploy/projects
#      - ./database:/home/deploy/database
#      - ./nginx:/home/deploy/nginx
#    networks:
#      - deploy_network
#    depends_on:
#      - nginx

  # ============ PROD Environment ============
  prod_nginx:
    image: nginx:alpine
    container_name: prod_nginx
    restart: unless-stopped
    ports:
      - "8081:80"
      - "8443:443"
    volumes:
      - ./projects/prod/app:/var/www/html:ro
      - ./projects/prod/app/backend:/var/www/html/backend:ro
      - ./nginx/conf.d/prod.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/logs:/var/log/nginx/
    networks:
      - deploy_network

  # ============ PROD Environment ============
  prod_php:
    build:
      context: ./projects/prod/app/docker/php
      dockerfile: Dockerfile
    container_name: prod_php
    restart: unless-stopped
    volumes:
      - ./projects/prod/app:/var/www/html:delegated
      - ./projects/prod/app/backend:/var/www/html/backend:delegated
      - ~/.composer-docker/cache:/root/.composer/cache:delegated
    environment:
      - APP_ENV=production
      - DB_HOST=${DB_HOST_PROD}
      - DB_PORT=${DB_PORT_PROD}
      - DB_DATABASE=rollama
      - DB_USERNAME=${DB_USER_PROD}
      - DB_PASSWORD=${DB_PASS_PROD}
    networks:
      - deploy_network

  # ============ STAGING Environment ============
  staging_nginx:
    image: nginx:alpine
    container_name: staging_nginx
    restart: unless-stopped
    ports:
      - "8082:80"
      - "8444:443"
    volumes:
      - ./projects/staging/app:/var/www/html:ro
      - ./projects/staging/app/backend:/var/www/html/backend:ro
      - ./nginx/conf.d/staging.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/logs:/var/log/nginx/
    networks:
      - deploy_network

  staging_php:
    build:
      context: ./projects/staging/app/docker/php
      dockerfile: Dockerfile
    container_name: staging_php
    restart: unless-stopped
    volumes:
      - ./projects/staging/app:/var/www/html:delegated
      - ./projects/staging/app/backend:/var/www/html/backend:delegated
      - ~/.composer-docker/cache:/root/.composer/cache:delegated
    environment:
      - APP_ENV=staging
      - DB_HOST=${DB_HOST_STAGING}
      - DB_PORT=${DB_PORT_STAGING}
      - DB_DATABASE=rollama
      - DB_USERNAME=${DB_USER_STAGING}
      - DB_PASSWORD=${DB_PASS_STAGING}
    networks:
      - deploy_network

networks:
  deploy_network:
    driver: bridge